.header {
  z-index: 9;
  position: sticky;
  width: 100%;
  top: 0;
  background: var(--mantine-color-dark-9);
  height: 72px;
  padding-left: var(--mantine-spacing-xl);
  padding-right: var(--mantine-spacing-xl);
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: var(--mantine-color-white);
  font-size: var(--mantine-font-size-md);
  font-weight: 500;

  @mixin hover {
    background: var(--mantine-color-dark-6);
  }
}
